.cover__title {
  /* текст */
  font-style: normal;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  color: #fff;

  /* отступы */
  margin: 0;

  /* размер */
  max-width: 560px;
}


@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 248px;
    font-size: 32px;
    line-height: 1.1;
  }
}